<div class="country-detail-header">
  <a routerLink="/" class="back-link">← Back to home</a>
</div>

<section class="country-summary">
  <h2>{{ country | titlecase }}</h2>
  <div class="country-stats">
    <div class="stat-card">
      <h3>Number of entries</h3>
      <p>{{ (countryStats$ | async)?.participationCount }}</p>
    </div>
    <div class="stat-card">
      <h3>Total number of medals</h3>
      <p>{{ (countryStats$ | async)?.totalMedals }}</p>
    </div>
    <div class="stat-card">
      <h3>Total number of athletes</h3>
      <p>{{ (countryStats$ | async)?.totalAthletes }}</p>
    </div>
  </div>
</section>

<section class="country-chart">
  <ng-container *ngIf="barDataForCountryMedalsByParticipation$ | async as barData; else noData">
    <p>Medal breakdown by year</p>
    @if (barData.length > 0) {
    <app-bar-chart-country-medals [barDataCountryMedalsByParticipation]="barData" />
    } @else {
    <p class="country-error">No data available to generate the chart.</p>
    }
  </ng-container>
  <ng-template #noData>
      <p class="country-error">No data available to generate the chart.</p>
  </ng-template>
</section>
