<section class="home-intro">
  <h1>Tableau de bord des Jeux Olympiques</h1>
  <p>
    Explorez les performances des pays lors des précédentes éditions des Jeux
    Olympiques grâce à ce tableau de bord interactif.
  </p>
  <p>
    Le graphique ci-dessous vous présente le
    <strong>nombre total de médailles remportées par chaque pays</strong>,
    toutes années confondues.
  </p>
  <p class="home-click-instruction">
    👉 Cliquez sur une <strong>portion du graphique</strong> pour accéder aux
    statistiques détaillées d'un pays.
  </p>
</section>

<section class="home-summary">
  <h2>Medals per Country</h2>
  <div class="summary-content">
    <div class="particpation-count">
      <span class="label">Number of JOs</span>
      <span class="value">{{ participationCount$ | async }}</span>
    </div>
    <div class="country-count">
      <span class="label">Number of countries</span>
      <span class="value">{{ countryCount$ | async }}</span>
    </div>
  </div>
</section>

<section class="home-chart">
  <ng-container *ngIf="pieDataMedalsByCountry$ | async as pieData">
  @if (pieData.length > 0) {
    <app-pie-chart-medals-by-country [pieDataMedalsByCountry]="pieData" />
  } @else {
    <p class="home-error">Aucune donnée disponible pour le graphique.</p>
  }
</ng-container>

</section>
