<ngx-charts-pie-chart
  [results]="pieDataMedalsByCountry"
  [legend]="false"
  [labels]="true"
  [maxLabelLength]="20"
  [doughnut]="false"
  [explodeSlices]="false"
  [tooltipDisabled]="false"
  [animations]="true"
  [view]="view"
>
  <ng-template #tooltipTemplate let-model="model">
    <span class="tooltip-country">{{ model.name }}</span>
    <div class="tooltip-medal">
      <img src="assets/images/white-medal.png" />
      <p class="tooltip-count-medals">{{ model.value }}</p>
    </div>
  </ng-template>
</ngx-charts-pie-chart>
